<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>Checkerboard</title>
    <style>
        .color1{
            background-color: {{color1}};
        }
        .color2{
            background-color: {{color2}};
        }
    </style>
</head>
<body>
    <div class="center">
        <h1> CHECKERBOARD</h1>
    </div>
    {%for x in range(0, height, 2)%}
    <table class="center">
        <tr class="row">
            {%for x in range(0, width, 2)%}
            <td class="color2 box"></td>
            <td class="color1 box"></td>
            {%endfor%}
        </tr> 
        <tr>
            {%for x in range(0, width, 2)%}
            <td class="color1 box"></td>
            <td class="color2 box"></td>
            {%endfor%}
        </tr>
    </table>
    {%endfor%}
</body>
</html>