<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>Checkerboard</title>
    <style>
        .color1{
            background-color: {{color1}};
        }
        .color2{
            background-color: {{color2}};
        }
    </style>
</head>
<body>
    <div class="center">
        <h1> CHECKERBOARD</h1>
    </div>
    {%for i in range(height)%}
    <table class="center table">
        <tr class="row">
            {%for j in range(width)%}
        <td class="color{{(i+j) % 2 + 1 }} box"></td>
            {%endfor%}
        </tr> 
    </table>
    {%endfor%}
    
</body>
</html>